img{
    width: 300px;
    height: 300px;
}

.photo-template ,.photo-filtered{
display: inline;
width: fit-content;
float: left;
overflow: hidden;
height: 500px;
margin: 5px 4%;

}

select{
    font-size:medium;
    margin-left: 15%;
}